In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

# Dataroma

https://www.dataroma.com/m/holdings.php?m=psc

### Target

1. Track holding history automatically.

2. 

# Yahoo Finance

https://finance.yahoo.com/quote/CMG?p=CMG&.tsrc=fin-srch

### Target

1. Crawl the past price of the traget stock.

2. Combine the dataset sysmatically. -> Generate the right dataframe format as an output.

3. Compute the essential statistics with Python or R.

### Inset Keywords

In [2]:
keywords = [i for i in input().split()]

In [3]:
len(keywords)

103

# ALL STOCKS

ATVI ADBE AMD ALXN ALGN GOOG GOOGL AMZN AMGN ADI ANSS AAPL AMAT ASML ADSK ADP BIDU BIIB BMRN BKNG AVGO CDNS CDW CERN CHTR CHKP CTAS CSCO CTXS CTSH CMCSA CPRT CSGP COST CSX DXCM DLTR EBAY EA EXC EXPE FB FAST FISV FOX FOXA GILD IDXX ILMN INCY INTC INTU ISRG JD KLAC LRCX LBTYA LBTYK LULU MAR MXIM MELI MCHP MU MSFT MDLZ MNST NTAP NTES NFLX NVDA NXPI ORLY PCAR PAYX PYPL PEP QCOM REGN ROST SGEN SIRI SWKS SPLK SBUX SNPS TMUS TTWO TSLA TXN KHC TCOM ULTA UAL VRSN VRSK VRTX WBA WDC WDAY XEL XLNX ZM

### Selenium

In [4]:
import requests
from bs4 import BeautifulSoup
import sys
import codecs
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
import requests
import time
from fake_useragent import UserAgent
import csv
import pandas as pd

/Applications/anaconda3/lib/python3.6/site-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.25.9) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

### Use try & except

In [7]:
#Use fake UserAgent
def set_header_user_agent():
    user_agent = UserAgent()
    return user_agent.random

#open browser #打開瀏覽器，但不要載入圖片
options = webdriver.ChromeOptions()
prefs = {
    'profile.default_content_setting_values': {
        'images': 2,
        #'javascript': 2
    }
}
options.add_experimental_option('prefs', prefs)

#ua = "Mozilla/5.0 (Windows NT 10.0; WOW64; rv:53.0) Gecko/20100101 Firefox/53.0"
#headers = {'User-Agent': 'User-Agent:Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'}
#user_agent = set_header_user_agent()
#headers={ 'user-agent': user_agent }
#options.add_argument("user-agent={}".format(user_agent)) # 使用偽造的 user-agent
#options.add_argument(headers)

driver = webdriver.Chrome('./chromedriver', chrome_options=options)


#define urls
url = 'https://finance.yahoo.com/quote/'

#for loop
i = 1
for keyword in keywords:
    
    try:

        #hist url
        hist_url = url+keyword+"/history?p="+keyword

        #開啟網頁
        driver.get(hist_url)
        driver.implicitly_wait(5)

        #點日期
        driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/div/div/div/span""").click()
        driver.implicitly_wait(5)
        #time.sleep(0.5)
        #點max
        driver.find_element_by_xpath("""//*[@id="dropdown-menu"]/div/ul[2]/li[4]/button/span""").click()
        driver.implicitly_wait(5)
        #time.sleep(0.5)

        #點frequency
        #driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div/svg""").click()
        #driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div/span/span""").click()
        #點apply
        driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/button/span""").click()
        driver.implicitly_wait(20)
        #time.sleep(0.5)

        #html parse 抓下載檔案的網址
        hist_soup = BeautifulSoup(driver.page_source, 'html.parser')
        links = hist_soup.select(".Fl(end).Mt(3px).Cur(p)") #帶有空格的class需要用.來取

        #CSV file link
        csv_url = links[0]['href']
        df = pd.read_csv(csv_url)
        df = df[['Date','Close']]
        df.rename(columns={'Close':keyword}, inplace=True) #rename the column after the specific stock

        #把某支股票的歷史價格存成csv檔
        file_path = "prices/" + keyword+".csv"
        df.to_csv(file_path, index=False)
        
        #assign不同的股票到不同的dataframe, 迴圈跑完要merge在一起
        names = locals()
        names['df%s' % i] = df
        i+=1
    
    except:
        i+=1
    #time.sleep(1)

#df = df1 #df是最後要的pooled的dataFrame，先assign成df1，再逐個跟其後的合併
#for j in range(2, i):
#    df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
    #check how to use pd.merge() in the ref: 
    #https://pandas-docs.github.io/pandas-docs-travis/user_guide/merging.html

#df = df1
#for j in range(2, len(keywords)+1):
#    try:
#        df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
#    except:
#        print("missing df"+j)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: DeprecationWarning: use options instead of chrome_options

In [8]:
df.head()

         Date         ZM
0  2019-04-18  62.000000
1  2019-04-22  65.699997
2  2019-04-23  69.000000
3  2019-04-24  63.200001
4  2019-04-25  65.000000

In [9]:
df = df1
count = 0
for j in range(2, len(keywords)+1):
    try:
        df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
    except:
        count+=1
        print("missing df"+str(j))
print("total missing: ", str(count))

total missing:  0

In [10]:
df.head()

,Date,ATVI,ADBE,AMD,ALXN,ALGN,GOOG,GOOGL,AMZN,AMGN,...,UAL,VRSN,VRSK,VRTX,WBA,WDC,WDAY,XEL,XLNX,ZM
0,1993-10-25,0.937500,2.687500,9.8750,NaN,NaN,NaN,NaN,NaN,5.609375,...,NaN,NaN,NaN,7.250,5.328125,4.0000,NaN,22.5000,3.333333,NaN
1,1993-10-26,0.864583,2.625000,9.6875,NaN,NaN,NaN,NaN,NaN,5.468750,...,NaN,NaN,NaN,7.625,5.281250,3.8125,NaN,22.3125,3.260417,NaN
2,1993-10-27,0.864583,2.687500,9.9375,NaN,NaN,NaN,NaN,NaN,5.656250,...,NaN,NaN,NaN,7.500,5.312500,3.9375,NaN,22.2500,3.333333,NaN
3,1993-10-28,0.822917,2.640625,9.8750,NaN,NaN,NaN,NaN,NaN,5.609375,...,NaN,NaN,NaN,7.500,5.421875,3.8750,NaN,22.2500,3.229167,NaN
4,1993-10-29,0.833333,2.718750,9.8750,NaN,NaN,NaN,NaN,NaN,5.703125,...,NaN,NaN,NaN,7.500,5.312500,3.9375,NaN,22.1875,3.312500,NaN

In [11]:
df.tail()

,Date,ATVI,ADBE,AMD,ALXN,ALGN,GOOG,GOOGL,AMZN,AMGN,...,UAL,VRSN,VRSK,VRTX,WBA,WDC,WDAY,XEL,XLNX,ZM
6697,2020-06-01,72.989998,389.679993,53.630001,118.919998,250.550003,1431.819946,1434.869995,2471.040039,226.910004,...,29.459999,219.029999,169.380005,286.640015,43.299999,43.080002,177.960007,65.750000,90.849998,204.149994
6698,2020-06-02,72.980003,390.440002,53.540001,116.279999,263.790009,1439.219971,1442.310059,2472.409912,223.720001,...,29.910000,217.389999,170.960007,284.269989,43.549999,44.000000,178.830002,66.070000,93.099998,208.080002
6699,2020-06-03,69.919998,389.920013,52.730000,113.769997,268.350006,1436.380005,1439.250000,2478.399902,221.000000,...,33.650002,213.960007,170.759995,277.010010,43.610001,45.439999,181.710007,66.820000,95.389999,223.869995
6700,2020-06-04,69.809998,385.799988,52.630001,113.680000,260.070007,1412.180054,1414.300049,2460.600098,220.880005,...,39.099998,210.229996,164.460007,272.820007,44.200001,45.980000,175.300003,65.029999,95.680000,210.350006
6701,2020-06-05,69.430000,392.899994,53.099998,115.209999,288.209991,1438.390015,1440.020020,2483.000000,225.669998,...,42.410000,211.279999,166.130005,265.690002,45.349998,48.459999,178.669998,65.260002,96.199997,207.600006

# Save Files

In [12]:
df.to_csv('NASDQ_price.csv', index=False)